#organic_produce {
  padding: 3.6rem 0;
  .organic_produce__left {
    img {
      max-width: 100%;
      display: flex;
      margin: auto;
    }
  }
  .organic_produce__right {
    h2 {
      text-align: center;
      font-size: 3.97rem;
      font-style: normal;
      font-weight: 600;
      line-height: 123.426%;
      color: $color-p-h;
      margin: 2.5rem 0 1.6rem;
    }
    > p {
      text-align: center;
      font-size: 1.6rem;
      font-style: normal;
      font-weight: 400;
      line-height: 150%;
      color: $color-p-h;
      margin-bottom: 2.6rem;
    }
  }
}
.rose__data {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 2.6rem;
  color: #285e67;
  .rose__info {
    display: flex;
    column-gap: 2.3rem;
    align-items: center;

    p {
      text-align: start;
      font-size: 1.6rem;
      font-style: normal;
      font-weight: 400;
      line-height: 150%;
    }
  }
}
#organic_produce {
  .organic_produce__left {
    .komp {
      display: none;
    }
  }
}

@media screen and (min-width: 1024px) {
  #organic_produce {
    padding: 8rem 0;
    display: flex;
    // column-gap: 125px;
    justify-content: space-between;

    .organic_produce__left {
      img {
        max-width: 42.9rem;
        // height: 700px;
      }
    }
    .organic_produce__right {
      max-width: 43rem;
      h2 {
        font-size: 5.052rem;
        line-height: 122.724%;
        margin-top: 0;
        text-align: start;
      }
      > p {
        text-align: start;
        margin-bottom: 90px;
      }
    }
  }
  .rose__data {
    row-gap: 5rem;
    .rose__info {
      p {
        text-align: start;
        font-size: 1.6rem;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
      }
    }
  }
}

@media screen and (min-width: 1440px) {
  .container {
    max-width: 1300px;
    margin: auto;
  }
  #organic_produce {
    align-items: center;
    padding: 12rem 0;
    .organic_produce__left {
       
      .komp {
        display: inline-block;
        max-width: 100%;
      }
      .mobl {
        display: none;
      }
    }
    .organic_produce__right {
        max-width: 62.3rem;
    }
  }
}
